<div class="page-header">
  <h1>Authors</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newAuthorsPath() %>" class="btn btn-primary">Create New Author</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>FirstName</th>
    <th>LastName</th>
    <th>Email</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (author) in authors { %>
      <tr>
      <td><%= author.FirstName %></td>
        <td><%= author.LastName %></td>
        <td><%= author.Email %></td>
        <td>
          <div class="pull-right">
            <a href="<%= authorPath({ author_id: author.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editAuthorPath({ author_id: author.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= authorPath({ author_id: author.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
