<div class="page-header">
  <h1>Author#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li><a href="<%= authorsPath() %>" class="btn btn-info">Back to all Authors</a></li>
  <li><a href="<%= editAuthorPath({ author_id: author.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= authorPath({ author_id: author.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>FirstName</strong>: <%= author.FirstName %>
</p>
<p>
  <strong>LastName</strong>: <%= author.LastName %>
</p>
<p>
  <strong>Email</strong>: <%= author.Email %>
</p>
