<div class="page-header">
  <h1>Posts</h1>
</div>
<ul class="list-unstyled list-inline">
  <li><a href="<%= newPostsPath() %>" class="btn btn-primary">Create New Post</a></li>
</ul>

<table class="table table-striped">
  <thead>
  <th>Title</th>
  <th>Category</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (post) in posts { %>
      <tr>
      <td><%= post.Title %></td>
      <td><%= post.Category %></td>
        <td>
          <div class="pull-right">
            <a href="<%= postPath({ post_id: post.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editPostPath({ post_id: post.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= postPath({ post_id: post.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
