<div class="page-header">
  <h1>Post#Show</h1>
</div>

<ul class="list-unstyled list-inline">
  <li><a href="<%= postsPath() %>" class="btn btn-info">Back to all Posts</a></li>
  <li><a href="<%= editPostPath({ post_id: post.ID })%>" class="btn btn-warning">Edit</a></li>
  <li><a href="<%= postPath({ post_id: post.ID })%>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
</ul>

<p>
  <strong>Title</strong>: <%= post.Title %>
</p>
<p>
  <strong>Content</strong>: <%= post.Content %>
</p>
<p>
  <strong>Category</strong>: <%= post.Category %>
</p>
